
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.btn {
  cursor: pointer;
  user-select: none;
}
