// 顏色
$black: #000400;
$white: #ffffff;
$light-grey: #efece7;

// 過度
$transition-1: all 0.1s ease-in-out;
$transition-2: all 0.2s ease-in-out;
$transition-3: all 0.3s ease-in-out;

// 尺寸
$h-header: 3.75rem;
