// 顏色
$black: #000400;
$white: #ffffff;

$grey: #a8b0b9;
$grey-light: #efece7;
$grey-dark: #9b9893;
$grey-darker: #808080;
$grey-translucent: #00040029;

$blue-dark: #03438d;
$blue-light: #e2edfa;
$green: #83c51d;

$yellow: #eec32a;
$yellow-dark: #faa722;
$pink: #f57375;
$pink-dark: #de4b63;

// 過度
$transition-1: all 0.1s ease-in-out;
$transition-2: all 0.2s ease-in-out;
$transition-3: all 0.3s ease-in-out;

// 尺寸
$h-header: 3.75rem;

$mobile: 375px;
$pad: 768px;
